* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

body {
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;

    height: 2000px;
}

nav {
    max-width: 1600px;
    width: 100%;
    height: 56px;
    margin: auto;

    padding-left: 34px;
    padding-right: 34px;

    display: flex;
    justify-content: space-between;
    // 關閉漢堡條
.mobile{
    display: none;
}

    .links {
        width: 535px;
        height: 100%;
        margin-right: 73px;
        padding-left: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 13px;


        .logo {
            width: 110px;
            height: 25px;
            

            background-image: url(../img/RE1Mu3b.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

        }

        .more {

            display: flex;
            align-items: center;
            text-align: center;
            display: none;

            .icon {
                background-image: url(../img/down-arrow.svg);
                width: 20px;
                height: 35px;
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .functions {

        height: 100%;
        padding-right: 8px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 13px;

        .all {
            width: 120px;
            height: 48px;

            display: flex;
            align-items: center;

            .icon {
                background-image: url(../img/down-arrow.svg);
                width: 20px;
                height: 35px;
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: contain;
            }

        }

        .function {
            height: 48px;
            margin-bottom: 5px;

            display: flex;
            align-items: center;


            @media(max-width:1400px) {
                margin-left: 0px;

                span {
                    display: none;
                }

                .icon.search {
                    margin-right: 10px;

                }

                .icon.shopping {
                    margin-right: 10px;
                }

                .icon.login {
                    margin-right: 10px;
                }

            }

            .icon {
                width: 17px;
                height: 17px;
                margin-left: 4px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;

            }

            .search {
                height: 30px;
                margin-right: 50px;
                background-image: url(../img/search.svg);
            }

            .shopping {
                margin-right: 20px;
                background-image: url(../img/cart.svg);
            }

            .login {
                width: 33px;
                height: 33px;
                margin-left: 12px;
                background-image: url(../img/login.svg);

            }
        }

        .car {
            margin-left: 2px;
        }

    }

    .links {
        width: 535px;
        height: 100%;
        padding-left: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 13px;
// 其中兩個選項變成更多
        @media(max-width:880px) {
            .more {
                display: block;
                display: flex;
                align-items: center;
                text-align: center;
            }

            .support {
                display: none;
            }

            .xbox {
                display: none;
            }
        }
    }

    .mobile {
        display: none;
    }
}

// 啟動手機版本變形
@media (max-width:860px) {
    nav {
        padding: 10px;
        // background-color: bisque;
        // 將功能列調整位置
        .logo{
            
            position: absolute;
            left: calc(50% - 55px);
        }

        .functions{
                .all{
                    display: none;
                }
                .search{
                    position: absolute;
                    left: 10%;
                }
            }
        // 開啟漢堡條
        .mobile{display: block;
            // 利用絕對位置漂浮特性做到滿版效果
            position: absolute;
     
    //    這是要扣除掉NAV的10PX的PADDING
           width: calc(100%);
            overflow: hidden;

            ul{
                list-style: none;
            }
            input {
                display: none;
              }
              
              /* 漢堡按鈕 */
              label {
                float: left;
                padding-right: 50px;
                line-height: 50px;
                ::before{content: 三;}
                cursor: pointer;
                img {
                  width: 30px;   
                  vertical-align: middle;
                }
              }
              
              /* menu*/
              .menu {
                display: none;
                clear: both;
                background: #f2f2f2;
                li {
                  text-align: center;
                  border-bottom: 1px solid #efefef;
                  a {
                    display: block;
                    line-height: 0px;
                    font-size: 18px;
                    color: #5d5d5d;
                    text-align: left;
                    text-decoration: none;

                    &:hover {
                      background: #5d5d5d;
                      color: #fff;
                    }
                  }
                }
        }
        input:checked ~ .menu {
    
            display: block;
            // 這個地方決定了全部總共可以有多少個
            max-height: 800px;
          }
    }







        // 連結關閉
        .links {
            .link.mirsoft {
                display: none;
            }

            .link.eams {
                display: none;
            }

            .link.windows {
                display: none;
            }

            .link.surface {
                display: none;
            }

            .link.xbox {
                display: none;
            }

            .link.more {
                display: none;
            }
        }
    }

// 右側Logo
    .links.logo {

        width: 110px;
        height: 25px;

        display: block;
        background-image: url(../img/RE1Mu3b.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

// bander
section{
    display: flex;
    justify-content: center;
    .bander{
        display: flex;
        justify-content: center;

        picture{
            img {
                width: 100%;
                height: auto;
              }
        }

    }
}