//carousel專用
@mixin c1400px {

    //max-width原1778px，為了carousel修改至1920px
    @media (min-width:1401px) and (max-width:1920px) {
        @content
    }
}

;

@mixin c1084px {
    @media (min-width:1085px) and (max-width:1400px) {
        @content
    }
}

;

@mixin c768px {
    @media (min-width:769px) and (max-width:1084px) {
        @content
    }
}

;

@mixin c540px {
    @media (min-width:540px) and (max-width:768px) {
        @content
    }
}

;

@mixin c539px {
    @media (max-width:539px) {
        @content
    }
}

;

//RWD切版
@mixin w1920px {
    @media (max-width:1920px) {
        @content
    }
}

;

@mixin w1400px {
    @media (max-width:1400px) {
        @content
    }
}

;

@mixin w1084px {
    @media (max-width:1084px) {
        @content
    }
}

;

@mixin w768px {
    @media (max-width:768px) {
        @content
    }
}

;

@mixin w540px {
    @media (max-width:540px) {
        @content
    }
}

;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
    width: 100%;
    height: 56px;
    margin: auto;
    padding: 0 8%;

    display: flex;
    justify-content: space-between;

    @include w1084px {
        padding: 0 2%;
    }

    .links {
        width: 540px;
        height: 100%;
        padding: 0px 0px 0px 10px;

        font-size: 13px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 110px;
            height: 25px;

            background-image: url(../images/logo.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .line:hover {
            text-decoration: solid black underline;
            text-decoration-thickness: 2px; //底線寬度
            text-underline-offset: 4px; //底線與文字間格

            cursor: pointer;
        }

        .line:active {
            padding: 16px 8px 10px;
            border:  1px dotted #000;
        }
    }

    .functions {
        width: 400px;
        height: 100%;
        padding-right: 8px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        font-size: 13px;

        @include w1400px {
            justify-content: flex-end;
        }

        .menu-all {
            display: none;
            z-index: 10;
            position: absolute;
            top: 53px;
            left: -940px;

            .container {
                width: 1230px;
                height: 440px;
                background-color: #f2f2f2;
                padding-right: 0px;

                font-size: 13px;

                display: flex;
            }

            .btn-map{
                width: 100%;
                height: 40px;
                background-color: #e6e6e6;
                border-bottom: solid 2px #000;

                text-align: center;
                line-height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 20px;
                    height: 28px;
                    padding-left: 5px;
                }
            }

            ul {
                list-style: none;

                li {
                    width: 200px;
                    padding: 14px 0px 14px 24px;
                }

                li p {
                    padding: 4px 0px 4px 0px;

                    font-weight: bold;
                }
            }
        }

        input:checked~.menu-all {
            display: flex;
            flex-flow:column;

            z-index: 10;
        }

        .line:hover {
            text-decoration: solid black underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 6px;

            cursor: pointer;
        }

        .all {
            width: 145px;
            height: 48px;

            display: flex;
            align-items: center;
            justify-content: flex-end;

            .icon {
                width: 17px;
                height: 25px;

                background-image: url('../images/downarrow.png');
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: contain;
            }
        }

        .function {
            height: 48px;

            display: flex; //因為圖片是在function中，所以要讓文字和圖片橫向排列，除functions要下flex之外，function也要下
            align-items: center;

            span {
                @include w1400px {
                    display: none;
                }
            }

            .icon {
                width: 16px;
                height: 16px;
                margin-left: 4px;

                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;

                &.search {
                    margin-right: 30px;
                    background-image: url('../images/search.svg');

                    @include w1400px {
                        margin: 0px 20px;
                    }
                }

                &.shopping {
                    background-image: url('../images/shopping.svg');
                }

                &.login {
                    width: 33px;
                    height: 33px;
                    margin-left: 12px;

                    background-image: url('../images/user.svg');

                    @include w1400px {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

main {
    .banner {
        width: 100%;
        position: relative;

        img {
            width: 100%;
            display: none;
        }

        .banner-xl {
            @include c1400px {
                display: block;
            }
        }

        .banner-l {
            @include c1084px {
                display: block;
            }
        }

        .banner-m {
            @include c768px {
                display: block;
            }
        }

        .banner-s {
            @include c540px {
                display: block;
            }
        }

        .banner-xs {
            @include c539px {
                display: block;
            }
        }
    }

    .context {
        width: 350px;
        height: 300px;
        background-color: cadetblue;

        position: absolute;
        top: 50%;
        left: 6%;
        transform: translate(0, -50%);

        @include w1084px {
            width: 100%;

            position: unset;
            transform: unset;
        }
    }
}