* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #77B9D0;
    padding: 3px 25px;
    border: 1px solid black;
}

nav .container {
    width: 100%;
    height: 100%;
    display: flex;
}

nav .container .logo {
    width: 64px;
    height: 64px;
    background-color: antiquewhite;
}

nav .container .links {
    width: 350px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: calc(100% - 350px);
}

nav .container .links .link {
    width: 110px;
    height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
    background-color: #5FA2B9;
    border-radius: 15px;
    border: 1px solid black;
}

nav .links:hover .link:hover {
    color: red;
    font-size: 30px;
    text-align: center;
    line-height: 20px;
}

main {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #69B2CB;
    display: flex;
    justify-content: center;
    /*水平置中*/
    align-items: center;
    /*垂直置中*/
}

main .container {
    width: 90%;
    height: 580px;
    background-color: rgb(148, 156, 156);
    border: 1px solid black;
}

main .swiper {
    width: 100%;
    height: 100%;
}

main .container .x {
    width: 100%;
    height: 290px;
}

main .container .x .image1-1 {
    background-image: url("img/image01-2-1.jpg");
    background-size: 100% 100%;
}

main .container .x .image1-2 {
    background-image: url("img/image02-2-1.jpg");
    background-size: 100% 100%;
}

main .container .x .image1-3 {
    background-image: url("img/image03-2-1.jpg");
    background-size: 100% 100%;
}

main .container .y {
    width: calc(45% - 5px);
    height: 280px;
    position: absolute;
    top: calc(50% + 45px);
}

main .container .y .image2-1 {
    background-image: url("img/image01-2-2.jpg");
    background-size: 100% 100%;
}

main .container .y .image2-2 {
    background-image: url("img/image02-2-2.jpg");
    background-size: 100% 100%;
}

main .container .y .image2-3 {
    background-image: url("img/image03-2-2.jpg");
    background-size: 100% 100%;
}

main .container .z {
    width: calc(45% - 5px);
    height: 280px;
    position: absolute;
    top: calc(50% + 45px);
    left: calc(50% + 5px);
}

main .container .z .image3-1 {
    background-image: url("img/image01-2-3.jpg");
    background-size: 100% 100%;
}

main .container .z .image3-2 {
    background-image: url("img/image02-2-3.jpg");
    background-size: 100% 100%;
}

main .container .z .image3-3 {
    background-image: url("img/image03-2-3.jpg");
    background-size: 100% 100%;
}

main .container .swiper-slide:hover {
    background-size: 110% 110%;
}