.card {
    width: 1000px;
    height: 800px;
    border: solid rgb(175, 175, 175) 0.1px;
    background: linear-gradient(178.40419603751184deg, rgb(107, 151, 196) 22.36392742796158%,  rgba(145, 153, 168, 0.3) 95.14941302027748%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 80px;
}

.rain img {
    width: 250px;
    height: 250px;
}

.card:hover {
    width: 1200px;
    height: 1000px;

}

.normal {
    font-size: 5rem;
}

.city {
    font-size: 5.4rem
}

.sun {
    width: 40px;
    height: 40px;
    background-image: url("./images/sun.svg");
}



.cloud {
    width: 40px;
    height: 40px;
    background-image: url("./images/cloud.svg");
}