@charset "UTF-8";
body {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

#close-btn {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
}

#close-btn:checked ~ .hidden1 {
  transform: 3s;
  display: unset;
}

.hidden1 {
  display: none;
  width: 600px;
  height: 400px;
  font-size: 24px;
  position: fixed;
  text-align: center;
  left: calc(50% - 300px);
  top: 30%;
  background: #FFC007;
  color: #00487C;
  z-index: 7;
}
.hidden1 .close {
  color: white;
  background-color: red;
  width: 8%;
  height: 8%;
  text-align: center;
  cursor: pointer;
  display: block;
}
.hidden1 h5 {
  position: absolute;
  left: 45%;
  top: 80%;
}

.strong {
  color: #00487C;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Unbounded", cursive;
}

.nav-left {
  display: "";
  width: 200px;
  height: 100vh;
  position: fixed;
  background-color: #FFC007;
  z-index: 5;
  transform: opacity;
}
.nav-left .face {
  width: 200px;
  height: 25%;
  background-image: url(../img/taregt/S__34160684.jpg);
  background-size: 120%;
  background-position: top;
}
.nav-left .select-nav {
  margin-top: 40%;
}
.nav-left .select-nav div.drop-down-menu :hover {
  background-color: #ffffff;
  /* 滑鼠滑入按鈕變色*/
}
.nav-left .select-nav div.drop-down-menu div {
  float: left;
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  white-space: nowrap;
}
.nav-left .select-nav div.drop-down-menu a {
  font-size: 30px;
  color: #333;
  padding: 0px 30px;
  /* 上下 左右 */
  text-decoration: none;
  /* 取消Ａ標籤的底線 */
  line-height: 40px;
  /* 調整整體高度，因為Ａ標籤是屬於行內元素 */
  display: flex;
  justify-content: center;
}

.nav-right {
  position: fixed;
  right: 1%;
  top: 40%;
  width: 40px;
  visibility: hidden;
  margin-top: -120px;
  z-index: 4;
  background-color: #FFC007;
  border-radius: 20px;
}
.nav-right ul {
  /* 取消ul設的內縮及樣式 */
  margin: 0px;
  padding: 0px;
}
.nav-right ul.drop-down-menu {
  /*定義出以下的資料，這是下拉式表單的核心*/
  /* 這是匡線的部分 */
  /*這其實就是同時能夠達成行列元素以及區塊元素的效果 */
  /* 這個選項可以讓資料 */
  font-size: 13px;
  /* 控制位置固定在中間點！ */
}
.nav-right ul.drop-down-menu li {
  position: relative;
  white-space: nowrap;
}
.nav-right ul.drop-down-menu > li {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.nav-right ul.drop-down-menu a {
  font-size: 24px;
  color: #333;
  padding: 0px 30px;
  /* 上下 左右 */
  text-decoration: none;
  /* 取消Ａ標籤的底線 */
  line-height: 40px;
  /* 調整整體高度，因為Ａ標籤是屬於行內元素 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.nav-right ul.drop-down-menu a:hover {
  /* 滑鼠滑入按鈕變色*/
  color: #ffffff;
}

.content-page1 {
  width: 100%;
  height: 100vh;
  display: flex;
}
.content-page1 .content-left {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 13% 5%;
  background-color: #ffffff;
}
.content-page1 .content-left .small-title {
  text-align: left;
  font-size: 36px;
  margin-bottom: 20px;
}
.content-page1 .content-left .title {
  text-align: left;
  font-size: 72px;
  margin-bottom: 20px;
}
.content-page1 .content-left .plug {
  background-color: #FFC007;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
  font-size: 24px;
  border-radius: 2%;
}
.content-page1 .content-left .introduce {
  margin-bottom: 20px;
  font-size: 20px;
}
.content-page1 .content-left .start-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  padding: 5px;
  background-color: #FFC007;
  font-size: 36px;
  cursor: pointer;
}
.content-page1 .content-right-check {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-page1 .content-right-check :hover.face {
  transform: scale(1.15, 1.15);
}
.content-page1 .content-right-check .face {
  width: 75%;
  height: 70%;
  background-image: url("../img/taregt/S__34160684.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  opacity: 1;
  z-index: 2;
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}
.content-page1 .content-right {
  position: relative;
  width: 50%;
  height: 100vh;
  background: linear-gradient(181.1154931321deg, rgb(149, 168, 181) 1.644486692%, rgb(61, 72, 78) 92.7724968314%);
  opacity: 0.4;
}

.left {
  width: 200px;
  height: 100vh;
  background: linear-gradient(181.1154931321deg, rgb(149, 168, 181) 1.644486692%, rgb(61, 72, 78) 92.7724968314%);
  opacity: 0.4;
}

.copy {
  width: calc(100% - 200px);
  height: 100vh;
  position: absolute;
  left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  background: linear-gradient(181.1154931321deg, rgb(149, 168, 181) 1.644486692%, rgb(61, 72, 78) 92.7724968314%);
  opacity: 0.4;
}

.content-page2-check {
  width: calc(100% - 200px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  z-index: 4;
}
.content-page2-check .content-page2-check-text {
  height: 50vh;
}
.content-page2-check .content-page2-check-text .title {
  text-align: left;
  font-size: 72px;
  margin-bottom: 20px;
  color: #000000;
}
.content-page2-check .content-page2-check-text .small-title {
  text-align: left;
  font-size: 36px;
  margin-bottom: 20px;
}
.content-page2-check .content-page2-check-text .introduce {
  font-size: 20px;
  margin-bottom: 50px;
}
.content-page2-check .insert-all {
  width: 100%;
  height: calc(40vh + 40px);
  display: flex;
}
.content-page2-check .insert-all .insert {
  background-color: #000000;
  width: 60%;
  padding: 20px;
  display: flex;
}
.content-page2-check .insert-all .insert div .turn {
  display: flex;
}
.content-page2-check .insert-all .insert .insert-left {
  width: 50%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  border-right: dashed 1px #FFC007;
  font-size: 36px;
  color: #FFC007;
}
.content-page2-check .insert-all .insert .insert-left .left-top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: dashed 1px #FFC007;
}
.content-page2-check .insert-all .insert .insert-left .left-top p {
  font-size: 24px;
  color: #ffffff;
}
.content-page2-check .insert-all .insert .insert-left .left-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content-page2-check .insert-all .insert .insert-left .left-bottom p {
  font-size: 24px;
  color: #ffffff;
}
.content-page2-check .insert-all .insert .insert-right {
  width: 50%;
  height: 100%;
  font-size: 36px;
  color: #FFC007;
}
.content-page2-check .insert-all .insert .insert-right .right-top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: dashed 1px #FFC007;
}
.content-page2-check .insert-all .insert .insert-right .right-top p {
  font-size: 24px;
  color: #ffffff;
}
.content-page2-check .insert-all .insert .insert-right .right-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content-page2-check .insert-all .insert .insert-right .right-bottom p {
  font-size: 24px;
  color: #ffffff;
}
.content-page2-check .insert-all .insert-text {
  width: 30%;
  height: calc(50vh + 40px);
  margin-left: 30px;
}
.content-page2-check .insert-all .insert-text ol {
  margin-left: 50px;
  margin-top: 20px;
}
.content-page2-check .insert-all .insert-text ol li {
  display: list-item;
}
.content-page2-check .insert-all .insert-text .title {
  text-align: left;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}
.content-page2-check .insert-all .insert-text .introduce {
  font-size: 23px;
  line-height: 40px;
  margin-bottom: 10px;
}

.content-page3 {
  display: flex;
  padding-top: 10px;
  position: relative;
  z-index: 1;
}
.content-page3 .design-fell {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 55%;
  left: 45%;
  background: rgb(149, 168, 181);
  opacity: 0.2;
}
.content-page3 .title {
  font-size: 48px;
  text-align: center;
}
.content-page3 .contral {
  width: 200px;
  height: 80vh;
}

footer {
  width: auto;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFC007;
}
footer div {
  position: relative;
  left: 85px;
}

.fa,
.fab,
.fal,
.far,
.fas {
  display: unset;
}

@media (max-width: 1280px) {
  .nav-left {
    visibility: collapse;
  }
  .nav-left .face {
    height: auto;
  }
  .nav-right {
    visibility: visible;
  }
  .left {
    display: none;
    width: 0px;
  }
  .copy {
    width: 100%;
    position: absolute;
    left: 0px;
    height: 100vh;
  }
  .content-page1 .content-right .face {
    height: 50%;
  }
  .content-page2-check {
    height: auto;
    width: 100%;
  }
  .title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
  }
  .contral {
    min-width: 200px;
    max-height: 398px;
  }
  .insert-all .insert-text .fas.title {
    text-align: left;
    font-size: 28px;
  }
  .content-page3 {
    height: auto;
    display: unset;
  }
  .content-page3 .contral {
    height: auto;
  }
  .content-page3 .design-fell {
    width: 0px;
  }
  .content-page3 .swiper {
    width: 100%;
    height: auto;
  }
  .content-page3 .swiper .swiper-slide img {
    width: calc(100% - 100px);
    height: auto;
  }
}/*# sourceMappingURL=resume.css.map */